div.product-filter {
  padding: 20px;
  margin-bottom: 30px;
  border-bottom: 1px #D9D9D9 solid;
}

div.product-filter span {
  color: #A3A3A3;
  margin-right: 10px;
}

div.product-filter div.sort {
  display: inline;
}

div.product-filter button {
  border: none;
  cursor: pointer;
  font-size: 0.9em;
  color: #A3A3A3;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #EDEDED;
}

div.product-filter button:focus {
  outline: none;
}

div.product-filter button.selected {
  color: white;
  background-color: #0AD4FA;
}