@import './variables';

.flex-spacing { flex-grow: 1; }

.button {
  width: 80%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: $normal-font;
  padding: 15px 32px;
  background-color: $white;
}

.button-primary {
  @extend .button;
  color: $white;
  font-weight: 400;
  background-color: $primary;
  > img {
    height: 35px;
    &.loading {
      filter: invert(0) sepia(0) saturate(0%) hue-rotate(148deg) brightness(200%) contrast(100%);
    }
  }
  &.loading {
    cursor: no-drop;
    padding: 5px 32px;
  }
}