
$primary:         #0AD4FA;
$secondary:       #EDEDED;
$background:      #F9F9F9;

$primary-color:   #616161;
$white:           #FFFFFF;

$font-family: -apple-system, "Roboto", "Oxygen", "Ubuntu", "Droid Sans", sans-serif;

$mobile-width: 435px;
$tablet-width: 768px;

$huge-font: 2.5em;
$big-font: 2em;
$normal-font: 1em;
$small-font: 0.9em;
$tiny-font: 0.8em;