@import './utils';
@import './product';
@import './variables';

body {
  margin: 0;
  color: $primary-color;
  font-family: $font-family;
  background-color: $background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .container {
    padding: 0 50px;
    @media screen and (max-width: $tablet-width) { padding: 0 20px; }
  }

  header {
    &.top {
      z-index: 99;
      width: 98vw;
      display: flex;
      position: fixed;
      padding: 10px 20px;
      height: $header-height;
      background-color: $background;
      box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.10);
    }
    .profile {
      font-weight: 500;
      display: flex;
      align-items: center;
      padding-right: 20px;
      justify-content: flex-end;
      .points {
        display: flex;
        align-items: center;
        margin-left: 10px;
        padding: 5px 10px;
        border-radius: 20.5px;
        background-color: $secondary;
        img { margin-left: 5px; }
      }
    }
    img.loading { height: 44px; }
    &.category {
      display: flex;
      align-items: flex-end;
      height: 400px + $header-height;

      h1 {
        padding: 40px;
        color: $white;
        font-weight: 400;
        font-size: $huge-font;
      }
    }
  }

  footer {
    color: $white;
    padding: 50px;
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
    background-color: $primary;
    a { color: inherit }
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: 1px darken($background, 10) solid;
    img.loading { height: 50px; }
  }
  .product-empty {
    padding: 30px;
    color: lighten($primary, 20);
    text-align: center;
    h1 { font-size: $huge-font; }
    h3 { font-size: $big-font; }
  }

  .product-header {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
    border-bottom: 1px darken($background, 10) solid;

    .search {
      padding: 10px 15px 10px 0;
      input {
        height: 25px;
        font-size: 1em;
        width: 300px;
        border: none;
        outline: none;
        background-color: inherit;
        border-bottom: 1px darken($background, 30) solid;
      }
    }
    .sort {
      span {
        color: lighten($primary-color, 15);
        margin-right: 10px;
      }
      button {
        width: auto;
        margin: 5px;
        padding: 8px 13px;
        background-color: $secondary;
        color: lighten($primary-color, 15);
        &:focus { outline: none; }
        &.selected {
          color: $white;
          background-color: $primary;
        }
      }
    }

    @media screen and (max-width: $tablet-width) {
      justify-content: center;
    }

    @media screen and (max-width: $mobile-width) {
      justify-content: flex-start;
      .search {
        flex-grow: 1;
        input { width: 100%; }
      }
    }
  }

}